@using PagedList;
@using PagedList.Mvc;
@using NotesMarketPlace.Context

@model NotesMarketPlace.Context.UserProfile

@{
    ViewBag.Title = "MemberDetails";
    Layout = "~/Areas/Admin/Views/Shared/AdminNavbar.cshtml";
    IPagedList<NotesMarketPlace.Context.NoteDetails> note = ViewBag.Note;
}

@{ int cnt = 0; }
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Admin-NotesMarketPlace</title>

    <!-- favicon-->
    <link rel="icon" href="~/Content/User/home/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="~/Content/Admin/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Admin/bootstrap/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Admin/style.css" />

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Admin/responsive.css">

</head>
<body>
    @{
        NotesMarketPlaceEntities dobj = new NotesMarketPlaceEntities();
        string emailid = User.Identity.Name;
    }
    <section class="main-wrapper" id="member-details-page">

        <div class="content-box-lg heading-space">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-heading">
                            <h3>Members Details</h3>
                        </div>
                    </div>

                    <div class="col-xl-2">
                        @{ string path1 = "";}

                        @if (Model.ProfilePicture != null)
                        {
                            path1 = Model.ProfilePicture;
                        }

                        else
                        {
                            ManageSystemConfiguration manage = dobj.ManageSystemConfiguration.SingleOrDefault();
                            path1 = manage.DefaultProfilePicture;
                        }

                        <img src="@path1" class="img-responsive" alt="Member-Details" />
                    </div>

                    <div class="col-xl-5 brdr">
                        <table>
                            @if (Model.Users.FirstName != null)
                            {
                                <tr>

                                    <td>First Name:</td>
                                    <td>@Model.Users.FirstName</td>
                                </tr>
                            }

                            @if (Model.Users.LastName != null)
                            {
                                <tr>
                                    <td>Last Name:</td>
                                    <td>@Model.Users.LastName</td>
                                </tr>
                            }

                            @if (Model.Users.EmailID != null)
                            {
                                <tr>
                                    <td>Email:</td>
                                    <td>@Model.Users.EmailID</td>
                                </tr>
                            }

                            @if (Model.DateOfBirth != null)
                            {
                                <tr>
                                    <td>DOB:</td>
                                    <td>@Model.DateOfBirth</td>
                                </tr>
                            }

                            @if (Model.PhoneNumber != null)
                            {
                                <tr>
                                    <td>Phone Number:</td>
                                    <td>@Model.PhoneNumber</td>
                                </tr>
                            }

                            @if (Model.University != null)
                            {
                                <tr>
                                    <td>College/University:</td>
                                    <td>@Model.University</td>
                                </tr>
                            }


                        </table>
                    </div>

                    <div class="col-xl-5 mb-3">
                        <table id="member-details-right">

                            @if (Model.AddressLine_1 != null)
                            {
                                <tr>
                                    <td>Address-1:</td>
                                    <td>@Model.AddressLine_1</td>
                                </tr>
                            }

                            @if (Model.AddressLine_2 != null)
                            {
                                <tr>
                                    <td>Address-2:</td>
                                    <td>@Model.AddressLine_2</td>
                                </tr>
                            }

                            @if (Model.City != null)
                            {
                                <tr>
                                    <td>City:</td>
                                    <td>@Model.City</td>
                                </tr>
                            }

                            @if (Model.State != null)
                            {
                                <tr>
                                    <td>State:</td>
                                    <td>@Model.State</td>
                                </tr>
                            }

                            @if (Model.Country != null)
                            {
                                <tr>
                                    <td>Country:</td>
                                    <td>@Model.Country</td>
                                </tr>
                            }


                            @if (Model.ZipCode != null)
                            {
                                <tr>
                                    <td>Zip Code:</td>
                                    <td>@Model.ZipCode</td>
                                </tr>
                            }


                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr size="1" width="100%" color="#d1d1d1">
                </div>
            </div>
        </div>

        <div class="content-box-lg">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        @using (Html.BeginForm("MemberDetails", "Members", FormMethod.Get, new { @id = "search_form" }))
                        {
                            <div id="dash-heading-left">
                                <h4>Notes</h4>
                            </div>
                            <div id="dash-heading-right">
                                <div class="form-group has-search" id="dash-left">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="search" class="form-control search-field" name="search" placeholder="Search">
                                </div>
                                <div id="dash-right">
                                    <button class="btn  btn-home-1 smooth-scroll mb-2" type="submit">SEARCH</button>
                                </div>
                            </div>
                        }

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="table-responsive" id="dash-table">
                            <table class="table table-general">
                                <thead>
                                    <tr>
                                        <th scope="col">SR NO.</th>
                                        <th scope="col">@Html.ActionLink("NOTE TITLE", "PublishedNotes", new { sortBy = ViewBag.SortTitle, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("CATEGORY", "PublishedNotes", new { sortBy = ViewBag.SortCategory, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("STATUS", "PublishedNotes", new { sortBy = ViewBag.SortStatus, search = Request.QueryString["search"] })</th>
                                        <th scope="col">DOWNLOADED NOTES</th>
                                        <th scope="col">TOTAL EARNINGS</th>
                                        <th scope="col">@Html.ActionLink("DATE ADDED", "PublishedNotes", new { sortBy = ViewBag.SortAddedDate, search = Request.QueryString["search"] })</th>
                                        <th scope="col">PUBLISHED DATE</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (note.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="9" class="text-center">No Records Found</td>
                                        </tr>
                                    }
                                    @foreach (var item in note)
                                    {
                                        if (item.Status != 1)
                                        {
                                            cnt = cnt + 1;
                                            <tr>
                                                <td scope="row">@cnt</td>
                                                <td class="row-color">@item.NoteTitle</td>
                                                <td>@item.AddCategory.CategoryName</td>
                                                <td>@item.ReferenceData.Datavalue</td>
                                                @{
                                                    var downloads = dobj.Downloads.Where(x => x.NoteID == item.ID).Count();
                                                }
                                                <td class="table_row_color">
                                                    <a href="@Url.Action("DownloadedNotes","DownloadedNotes",new { search = item.NoteTitle})">
                                                        @downloads
                                                    </a>
                                                </td>
                                                <td>$@item.Downloads.Where(x => x.IsAttachmentDownloaded == true).Sum(x => x.PurchasedPrice)</td>
                                                <td>@item.Users.CreatedDate</td>
                                                @if (item.PublishedDate != null)
                                                {
                                                    <td>@item.PublishedDate</td>
                                                }
                                                else
                                                {
                                                    <td>NA</td>
                                                }
                                                <td>
                                                    <div id="dash-img" class="dropdown">
                                                        <i class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                        <div class="dropdown">
                                                            <div class="dropdown-content">
                                                                <a href="@Url.Action("DownloadNotes","NoteUnderReview",new { id = item.ID})">Download Note</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="pagination">
                            @Html.PagedListPager(note, page => Url.Action("MemberDetails", new { page, search = Request.QueryString["search"] }))
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Jquery -->
    <script src="~/Scripts/Admin/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Admin/bootstrap/bootstrap.min.js"></script>

    <!-- Validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Admin/script.js"></script>
</body>
</html>

