@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketPlace.Context.Downloads>

@{
    ViewBag.Title = "DownloadedNotes";
    Layout = "~/Areas/Admin/Views/Shared/AdminNavbar.cshtml";
}

@{ int cnt = 0; }

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Admin-NotesMarketPlace</title>

    <!-- favicon-->
    <link rel="icon" href="~/Content/User/home/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="~/Content/Admin/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Admin/bootstrap/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Admin/style.css" />

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Admin/responsive.css">

</head>
<body>
    <section id="downloadednotes-page" class="main-wrapper">
        <div class="content-box-lg heading-space">
            <div class="container">
                <div class="row">

                    <!-- Title -->
                    <div class="col-md-12">
                        <div class="page-heading">
                            <h3>Download Notes</h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        @using (Html.BeginForm("DownloadedNotes", "DownloadedNotes", FormMethod.Get, new { @id = "search_form" }))
                        {
                            <div id="dash-heading-left-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ad-notereview-name" class="label-text">Note</label>
                                            @Html.DropDownList("Note_Title", ViewBag.Note_Title as SelectList, "Select note", new { @class = "form-control", name = "notetype", onchange = "note_search()" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ad-notereview-name" class="label-text">Seller</label>
                                            @Html.DropDownList("Seller", ViewBag.Seller as SelectList, "Select seller", new { @class = "form-control", name = "notetype", onchange = "note_search()" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ad-notereview-name" class="label-text">Buyer</label>
                                            @Html.DropDownList("Buyer", ViewBag.Buyer as SelectList, "Select buyer", new { @class = "form-control", name = "notetype", onchange = "note_search()" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="dash-heading-right-1">
                                <div class="form-group has-search" id="dash-left">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="search" class="form-control search-field" name="search" placeholder="Search">
                                </div>
                                <div id="dash-right">
                                    <button class="btn  btn-home-1 smooth-scroll mb-2" type="submit">SEARCH</button>
                                </div>
                            </div>
                        }

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="table-responsive" id="dash-table">
                            <table class="table table-general">
                                <thead>
                                    <tr>
                                        <th scope="col">SR NO.</th>
                                        <th scope="col">@Html.ActionLink("NOTE TITLE", "DownloadedNotes", new { sortBy = ViewBag.SortTitle, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("CATEGORY", "DownloadedNotes", new { sortBy = ViewBag.SortCategory, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("BUYER", "DownloadedNotes", new { sortBy = ViewBag.SortBuyer, search = Request.QueryString["search"] })</th>
                                        <th scope="col"></th>
                                        <th scope="col">@Html.ActionLink("SELLER", "DownloadedNotes", new { sortBy = ViewBag.SortSeller, search = Request.QueryString["search"] })</th>
                                        <th scope="col"></th>
                                        <th scope="col">@Html.ActionLink("SELL TYPE", "DownloadedNotes", new { sortBy = ViewBag.SortSelltype, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("PRICE", "DownloadedNotes", new { sortBy = ViewBag.SortSellprice, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("DOWNLOADED DATE/TIME", "DownloadedNotes", new { sortBy = ViewBag.SortAddedDate, search = Request.QueryString["search"] })</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="11" class="text-center">No Records Found</td>
                                        </tr>
                                    }

                                    @foreach (var item in Model)
                                    {
                                        cnt = cnt + 1;
                                        <tr>
                                            <td scope="row">@cnt</td>
                                            <td class="table_row_color">
                                                <a href="@Url.Action("NoteDetails","NoteUnderReview",new { ID = item.ID})">
                                                    @item.NoteTitle
                                                </a>
                                            </td>
                                            <td>
                                                @item.Category
                                            </td>
                                            <td>@item.Users1.FirstName @item.Users1.LastName</td>
                                            <td>
                                                <div>
                                                    <a href="@Url.Action("MemberDetails","Members",new { ID = item.Users1.ID})">
                                                        <img src="~/Content/Admin/assets/eye.png" alt="eye" />
                                                    </a>
                                                </div>
                                            </td>
                                            <td>@item.Users.FirstName @item.Users.LastName</td>
                                            <td>
                                                <div>
                                                    <a href="@Url.Action("MemberDetails","Members",new { ID = item.Users.ID})">
                                                        <img src="~/Content/Admin/assets/eye.png" alt="eye" />
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                @if (item.IsPaid == true)
                                                {
                                                    <p>Paid</p>
                                                }

                                                else
                                                {
                                                    <p>Free</p>
                                                }
                                            </td>
                                            <td>$@item.PurchasedPrice</td>
                                            <td>@item.AttachmentDownloadedDate.Value.ToString("dd-MM-yyyy, hh:mm")</td>
                                            <td>
                                                <div id="dash-img" class="dropdown">
                                                    <i class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div class="dropdown">
                                                        <div class="dropdown-content">
                                                            <a href="@Url.Action("NoteDetails","NoteUnderReview",new { ID = item.ID})">View More Details</a>
                                                            <a href="@Url.Action("DownloadNotes","NoteUnderReview",new { id = item.ID})">Download Note</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action(" DownloadedNotes", new { page, search = Request.QueryString["search"] }))
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Jquery -->
    <script src="~/Scripts/Admin/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Admin/bootstrap/bootstrap.min.js"></script>

    <!-- Validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Admin/script.js"></script>
</body>
</html>

