@using PagedList;
@using PagedList.Mvc;
@using NotesMarketPlace.Context

@model IPagedList<NotesMarketPlace.Context.NoteDetails>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/AdminNavbar.cshtml";
}

@{ int cnt = 0; }
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Admin-NotesMarketPlace</title>

    <!-- favicon-->
    <link rel="icon" href="~/Content/User/home/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="~/Content/Admin/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Admin/bootstrap/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Admin/style.css" />

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Admin/responsive.css">

</head>
<body>
    @{
        NotesMarketPlaceEntities dobj = new NotesMarketPlaceEntities();
        string emailid = User.Identity.Name;
    }

    <section id="dashboard-page" class="main-wrapper">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">

                    <!-- Title -->
                    <div class="col-md-12">
                        <div class="page-heading">
                            <h3>Dashboard</h3>
                        </div>
                    </div>

                    <div class="col-md-4 text-center mb-2">
                        <div class="dashboard-border">
                            <h3>
                                <a href="@Url.Action("NoteUnderReview","NoteUnderReview")">
                                    @ViewBag.NotesUnderReview
                                </a>
                            </h3>
                            <p>Numbers of Notes in Review for Publish</p>
                        </div>
                    </div>

                    <div class="col-md-4 text-center mb-2">
                        <div class="dashboard-border">
                            <h3>
                                <a href="@Url.Action("DownloadedNotes","DownloadedNotes")">
                                    @ViewBag.NoOfDownloadedNotes
                                </a>
                            </h3>
                            <p>Numbers of New Notes Downloaded (Last 7 Days)</p>
                        </div>
                    </div>

                    <div class="col-md-4 text-center mb-2">
                        <div class="dashboard-border">
                            <h3>
                                <a href="@Url.Action("Members","Members")">
                                    @ViewBag.NoOfRegistration
                                </a>
                            </h3>
                            <p>Numbers of New Registrations (Last 7 Days)</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="content-box-lg">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        @using (Html.BeginForm("Dashboard", "Dashboard", FormMethod.Get, new { @id = "search_form" }))
                        {
                            <div id="dash-heading-left">
                                <h4>Published Notes</h4>
                            </div>
                            <div id="dash-heading-right">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group has-search">
                                            <span class="fa fa-search form-control-feedback"></span>
                                            <input type="search" class="form-control search-field" name="search" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn  btn-dash smooth-scroll mb-2">SEARCH</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.DropDownList("MonthDropdown", ViewBag.MonthDropdown as SelectList, "Select month", new { @class = "form-control", name = "notetype", onchange = "note_search()" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="table-responsive" id="dash-table">
                            <table class="table table-general">
                                <thead>
                                    <tr>
                                        <th scope="col">SR NO.</th>
                                        <th scope="col">@Html.ActionLink("NOTE TITLE", "Dashboard", new { sortBy = ViewBag.SortTitle, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("CATEGORY", "Dashboard", new { sortBy = ViewBag.SortCategory, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("ATTACHMENT SIZE", "Dashboard", new { sortBy = ViewBag.AttachmentSize, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("SELL TYPE", "Dashboard", new { sortBy = ViewBag.SortSelltype, search = Request.QueryString["search"] })</th>
                                        <th scope="col">@Html.ActionLink("PRICE", "Dashboard", new { sortBy = ViewBag.SortSellprice, search = Request.QueryString["search"] })</th>
                                        <th scope="col">PUBLISHER</th>
                                        <th scope="col">@Html.ActionLink("PUBLISHED DATE", "Dashboard", new { sortBy = ViewBag.SortAddedDate, search = Request.QueryString["search"] })</th>
                                        <th scope="col">NUMBER OF DOWNLOADS</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="10" class="text-center">No Records Found</td>
                                        </tr>
                                    }

                                    @foreach (var item in Model)
                                    {
                                        
                                            cnt = cnt + 1;
                                            <tr>
                                                <td scope="row">@cnt</td>
                                                <td class="table_row_color">
                                                    <a href="@Url.Action("NoteDetails","NoteUnderReview",new { ID = item.ID})">
                                                        @item.NoteTitle
                                                    </a>
                                                </td>
                                                <td>@item.AddCategory.CategoryName</td>
                                                @{
                                                    DirectoryInfo info = new DirectoryInfo(Server.MapPath("/Members/" + item.UID + "/" + item.ID + "/" + "/Attachment/"));
                                                    long totalsize = info.EnumerateFiles().Sum(file => file.Length);
                                                    totalsize = (long)totalsize / 1024; //KB
                                                    string file_size = totalsize + " KB";
                                                    if (totalsize >= 1024)
                                                    {
                                                        totalsize = (long)totalsize / 1024; //MB
                                                    }
                                                }
                                                <td>@file_size</td>
                                                <td>
                                                    @if (item.IsPaid == true)
                                                    {
                                                        <p>Paid</p>
                                                    }

                                                    else
                                                    {
                                                        <p>Free</p>
                                                    }
                                                </td>
                                                <td>$@item.SellPrice</td>
                                                <td>@item.Users1.FirstName @item.Users1.LastName</td>
                                                <td>@item.PublishedDate.Value.ToString("dd-MM-yyyy, hh:mm")</td>
                                                @{
                                                    var downloads = dobj.Downloads.Where(x => x.NoteID == item.ID).Count();
                                                }
                                                <td class="table_row_color">
                                                    <a href="@Url.Action("DownloadedNotes","DownloadedNotes",new { search = item.NoteTitle})">
                                                        @downloads
                                                    </a>
                                                </td>
                                                <td>
                                                    <div id="dash-img" class="dropdown">
                                                        <i class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                        <div class="dropdown">
                                                            <div class="dropdown-content">
                                                                <a href="@Url.Action("NoteDetails","NoteUnderReview",new { ID = item.ID})">View More Details</a>
                                                                <a href="@Url.Action("DownloadNotes","NoteUnderReview",new { id = item.ID})">Download Note</a>
                                                                <a onclick="NoteReject(this)" data-id="@item.ID" data-title="@item.NoteTitle">Unpublish</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        

                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Dashboard", new { page, search = Request.QueryString["search"] }))
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal-1" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modal-title text-left">
                                        <h3 class="note-title"></h3>
                                    </div>
                                </div>
                                @using (Html.BeginForm("Notes_Unpublish", "Dashboard", FormMethod.Post))
                                {
                                    <input type="hidden" name="ID" id="hidden_field-1" />

                                    <div class="col-md-12">
                                        <div>

                                            <div class="form-group" id="form-ftext">
                                                <label for="fname" class="label-text">Remarks*</label>
                                                <textarea class="form-control" placeholder="Remarks..." name="Remark" required></textarea>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn  btn-danger" type="submit">REJECT</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="cancel btn  btn-secondary" data-dismiss="modal">CANCEL</button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Jquery -->
    <script src="~/Scripts/Admin/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Admin/bootstrap/bootstrap.min.js"></script>

    <!-- Validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Admin/script.js"></script>

    <script>
        var NoteReject = function (element) {
            var id = element.getAttribute('data-id');
            var title = element.getAttribute('data-title');
            $("#myModal-1").modal("show");
            $(".note-title").text(title);
            $("#hidden_field-1").val(id);
        }
    </script>

</body>
</html>
