@model NotesMarketPlace.Areas.Admin.Data.updateprofile

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Areas/Admin/Views/Shared/AdminNavbar.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Admin-NotesMarketPlace</title>

    <!-- favicon-->
    <link rel="icon" href="~/Content/User/home/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="~/Content/Admin/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Admin/bootstrap/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Admin/style.css" />

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Admin/responsive.css">

</head>
<body>

    <section id="myprofile-page" class="main-wrapper">

        <div class="content-box-lg heading-space">
            <div class="container">
                <div class="row">

                    <!-- Title -->
                    <div class="col-md-12">
                        <div class="page-heading">
                            <h3>My Profile</h3>
                        </div>
                    </div>

                    <!-- Form Container -->
                    <div class="col-md-7 ">
                        <div id="myprofile-form">
                            @using (Html.BeginForm("UpdateProfile", "UpdateProfile", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                            {
                                <div class="row">

                                    @if (Model != null)
                                    {
                                        @Html.HiddenFor(x => x.ID)
                                    }

                                    <div class="col-md-12">
                                        <div class="form-group" id="myprof-fname">
                                            <label for="ad-myprof-fname" class="label-text">First Name*</label>
                                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control label-text", @placeholder = "Enter your first name" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group" id="myprof-lname">
                                            <label for="ad-myprof-lname" class="label-text">Last Name*</label>
                                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control label-text", @placeholder = "Enter your last name" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group" id="myprof-mail">
                                            <label for="ad-myprof-mail" class="label-text">Email*</label>
                                            @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control label-text", @placeholder = "Enter your email address", @disabled = "disabled" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group" id="myprof-sec_mail">
                                            <label for="ad-myprof-sec_mail" class="label-text">Secondary Email</label>
                                            @Html.TextBoxFor(x => x.SecondaryEmail, new { @class = "form-control label-text", @placeholder = "Enter your email address" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <label for="phone-number" class="label-text" id="ph-n">Phone Number</label>
                                        <div class="row">

                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    @Html.DropDownListFor(x => x.PhoneNumber_CountryCode, new SelectList(Model.Countries, "CountryCode", "CountryCode"), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <div class="form-group" id="phn-no">
                                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control label-text", @placeholder = "Enter your phone number" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <label for="profile-picture" class="label-text">Profile Picture</label>
                                        <div class="image-upload text-center">
                                            <label for="upload-picture">
                                                <img src="~/Content/User/Add-notes/upload-file.png" />
                                                @Html.TextBoxFor(x => x.ProfilePicture, new { @type = "file", @id = "upload-picture", @name = "file", @onchange = "return picturevalidation()" })
                                            </label>
                                        </div>
                                        <span id="uploadpicture-error"></span>
                                    </div>

                                    <div class="col-md-12">
                                        <button class="btn  btn-home-1 smooth-scroll mt-3" type="submit">SUBMIT</button>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- Jquery -->
    <script src="~/Scripts/Admin/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Admin/bootstrap/bootstrap.min.js"></script>

    <!-- Validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Admin/script.js"></script>
</body>
</html>

