@using NotesMarketPlace.Context

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Admin-NotesMarketPlace</title>

    <!-- favicon-->
    <link rel="icon" href="~/Content/User/home/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="~/Content/Admin/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Admin/bootstrap/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Admin/style.css" />

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Admin/responsive.css">

    <script>
        function note_search() {

            document.getElementById("search_form").submit();
        }
    </script>

</head>

<body>
    @{
        NotesMarketPlaceEntities dobj = new NotesMarketPlaceEntities();
        string emailid = User.Identity.Name;
    }

    <section class="main-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Dashboard","Dashboard")">
                <img src="~/Content/Admin/assets/logo.png" alt="Logo" width="180" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Dashboard" ? "active-1" : "")" href="@Url.Action("Dashboard","Dashboard")">Dashboard</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="@Url.Action("NoteUnderReview","NoteUnderReview")">Notes Under Review</a>
                            <a class="dropdown-item" href="@Url.Action("PublishedNotes","PublishedNotes")">Published Notes</a>
                            <a class="dropdown-item" href="@Url.Action("DownloadedNotes","DownloadedNotes")">Download Notes</a>
                            <a class="dropdown-item" href="@Url.Action("RejectedNotes","RejectedNotes")">Rejected Notes</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Members" ? "active-1" : "")" href="@Url.Action("Members","Members")">Members</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "SpamReports" ? "active-1" : "")" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="@Url.Action("SpamReports","SpamReports")">Spam Reports</a>
                        </div>
                    </li>
                                      
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @{ 
                                int id = dobj.ManageSystemConfiguration.Select(x => x.ID).FirstOrDefault();
                             }

                            @if (dobj.ManageSystemConfiguration.Any())
                            {
                                <a class="dropdown-item" href="@Url.Action("ManageSystemConfig","ManageSystemConfig",new { ID = id})">Manage System Configuration</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("ManageSystemConfig","ManageSystemConfig")">Manage System Configuration</a>
                            }
                            <a class="dropdown-item" href="@Url.Action("ManageAdministrator","ManageAdministrator")">Manage Administrator</a>
                            <a class="dropdown-item" href="@Url.Action("ManageCategory","ManageCategory")">Manage Category</a>
                            <a class="dropdown-item" href="@Url.Action("ManageType","ManageType")">Manage Type</a>
                            <a class="dropdown-item" href="@Url.Action("ManageCountry","ManageCountry")">Manage Country</a>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = dobj.Users.Where(x => x.EmailID == emailid).FirstOrDefault();
                        var profile = dobj.UserProfile.Where(x => x.UID == user.ID).FirstOrDefault();


                        if (profile != null)
                        {
                            string path = "";

                            if (profile.ProfilePicture != null)
                            {
                                path = profile.ProfilePicture;
                            }
                            else
                            {
                                ManageSystemConfiguration manage = dobj.ManageSystemConfiguration.SingleOrDefault();
                                path = manage.DefaultProfilePicture;
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="@path" alt="Logo" class="navbar-user-photo" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="@Url.Action("UpdateProfile","UpdateProfile", new { ID = profile.ID })">Update Profile</a>
                                    <a class="dropdown-item" href="@Url.Action("ChangePassword","ChangePassword")">Change Password</a>
                                    <a class="dropdown-item row-color" href="@Url.Action("Logout","Login", new { area=""})" onclick="return confirm('Do you want to Logout?')"><b>Logout</b></a>
                                </div>
                            </li>
                        }

                    }

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-home-1 my-2 my-sm-0" href="@Url.Action("Logout","Login", new { area=""})" onclick="return confirm('Do you want to Logout?')">Logout</a>
                </form>
            </div>
        </nav>

        @RenderBody()

        <footer class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <div class="footer-text-1">
                            <p>
                                Version: 1.1.24
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="footer-text-2">
                            <p>
                                Copyright &copy; Tatvasoft All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!-- Jquery -->
    <script src="~/Scripts/Admin/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Admin/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Admin/script.js"></script>
</body>

</html>
